body{
    padding: 0;
    margin: 0;
    background-color: #3E2F45;
}
nav ul{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}
nav li{
    padding: auto 1em auto 1em;
    float: left;
    justify-content: center;
    height: 3em;
}
nav li a{
    text-decoration: none;
    color: red;
}
nav li a:visited{
    text-decoration: none;
    color: red;
}
.current_page{
    background-image: linear-gradient(#3E2F45, red, #3E2F45);
}
#nav_logo{
    height: 3em;
    width: 3em;
}